body{
  margin: 0;
  padding:0;
  overflow:none;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(226, 226, 226);
  height: 100vh;
  /* background-color:rgb(226, 226, 226); */
  /* background-image: url('tree-276014_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: url('home_bgImage.jpg'); */
}

.clr{
  clear: both;
}

nav{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

nav h3{
  font-size:2rem;
  padding: 5px 15px;
  margin: 7px 40px 7px 0px;
  background-color: rgb(24, 9, 231);
  color: rgb(248, 248, 248);
  border-radius: 10px;
  text-align: center;
}

nav #menu{
  flex: 1;
}

#menu button{
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  top: 17px;
  margin-left: 5px;
}

#menu img{
  background-color: red;
  position: relative;
  top: 6px;
}

#menu button h4{
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  color: rgb(250, 84, 54);
}

.container{
  display: flex;
  flex-direction: row;
}

.container .dashboard{
  background-color: white;
  height: 90.7vh;
  width: 25%;
  position: relative;
  border-right:7px solid black;
}

.dashboard ul{
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 5px;
}

.dashboard ul li{
  padding-bottom:1rem;
  padding-left:1rem;
  margin-top: 1rem;
}

.dashboard ul a{
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  text-transform: uppercase;
  font-weight: bold;
}

.dashboard ul a:hover{
  font-weight: 700;
  color:black;
  transition: ease-in-out 0.2s;
  font-size: 1.3rem;
}

.dashboard #close_btn{
  font-size: 3rem;
  background-color: transparent;
  color: rgb(255, 78, 46);
  text-shadow: rgb(226, 226, 226);
  border: none;
  outline: none;
  padding:0;
  position: absolute;
  top:5px;
  right: 10px;
  transform: rotate(45deg);
}

.container .dashboard{
  display: none;
}

.container.visible .dashboard{
  display: block;
}

.container.visible .wrap{
  border-top: none;
}

.container.visible .cashier-box #add_btn{
  margin-left:10rem;
}



.container .wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  border-top: 5px solid rgba(92, 92, 92, 0.137);
  position: relative;
}

.wrap .cashier-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: 3px 5px 7px rgba(20, 19, 19, 0.8);
  border-top: 2px solid rgba(255,255,255,1);
  border-radius: 10px;
  width: 70%;
  height: 70%;
}

.cashier-box form{
  padding: 2rem 1rem 1rem 6.5rem;
  width: 70%;
  height: auto;
}
.cashier-box div{
  margin-bottom:1rem;
  padding: 0;
}

.cashier-box form label{
display: inline-block;
width: 180px;
text-align: left;
font-size: 1.2rem;
margin: 0;
padding: 0;
}

.cashier-box form input{
  width: 45%;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid yellowgreen;
  border-radius: 3px;
  outline: none;
  margin: 0;
}

.cashier-box #add_btn{
  margin-left:14.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  outline: none; 
  padding: 7px 15px;
  text-align: center;
  background-color: rgb(56, 56, 56);
  color: white;
}
.cashier-box #add_btn:hover{
  background-color: black;
  color: white;
  transition: ease-in-out 0.2s;
  font-size: 1.1rem;
}
